$headingFont: 'Bubbler One', sans-serif;
$bodyFont: 'Source Sans Pro', sans-serif;
$homeColor: #666666;

@mixin rotate($degree) {
  -ms-transform: rotate($degree); /* IE 9 */
  -webkit-transform: rotate($degree); /* Chrome, Safari, Opera */
  transform: rotate($degree);
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

body {
  font-family: $bodyFont;

  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }

  .navbar li {
    font-size: 20px;
    text-transform: uppercase;
  }

  body .navbar-default .navbar-nav> {

    li>a {
        color: $homeColor;
    }

    .active>a, .active>a:focus, .active>a:hover {
      text-decoration: underline;
    }

  }

  h1 {
    font-family: $headingFont;
    z-index: 1;
    font-size: 100px;
    margin-top: 0;
    line-height: 1.75em;
    padding: 100px;
    color: $homeColor;
  }

  a {
    font-family: $headingFont;
  }

  #home {
    background: url("../img/home.png") no-repeat center center;
    background-size: cover;
  }

}
