$headingFont: 'Bubbler One', sans-serif;
$bodyFont: 'Source Sans Pro', sans-serif;
$homeFontColor: #ffffff;
$darkBackground: #222222;
$borderColor: #87decc;
$borderRGBA: rgba(135, 222, 204, 1);
$timelineColor: #eed7f4;
$linkColor: #87decc;
$darkText: #666666;
$lightText: #ffffff;

@mixin rotate($degree) {
  -ms-transform: rotate($degree); /* IE 9 */
  -webkit-transform: rotate($degree); /* Chrome, Safari, Opera */
  transform: rotate($degree);
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadowParameters) {
  -webkit-box-shadow: $shadowParameters;
  -moz-box-shadow: $shadowParameters;
   box-shadow: $shadowParameters;
}

@mixin fadeIn($fadeInParameters) {
  -webkit-transition: $fadeInParameters;
  -moz-transition: $fadeInParameters;
  -o-transition: $fadeInParameters;
  transition: $fadeInParameters;
}

@mixin grow($scale) {
  -webkit-transform: scale($scale);
  -ms-transform: scale($scale);
  transform: scale($scale);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
  font-family: $bodyFont;
  font-weight: 300;
  font-size: 18px;

  .darkBackground {
    background-color: $darkBackground;
    color: $lightText;
    h2 {
      color: $lightText;
    }
  }

  .navbar-default {
    background-color: #222222;
    border-color: transparent;
    border-bottom: 1px solid #444444;
  }

  .navbar li {
    font-size: 20px;
    text-transform: uppercase;
  }

//figure out how to nest this
  .navbar-default .navbar-nav>li>a {
    color: $homeFontColor;
    &:hover {
      color: $homeFontColor;
      text-decoration: underline;
    }
  }

  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover {
    text-decoration: underline;
    background-color: transparent;
    color: $homeFontColor;
  }

  h1, h2, h4 {
    font-family: $headingFont;
  }

  h1 {
    z-index: 1;
    font-size: 75px;
    margin: 0;
    line-height: 1.75em;
    padding: 250px 0;
    color: $darkText;
  }

  h2 {
    text-transform: uppercase;
    margin: 0;
    color: $darkText;
    padding: 50px 0 10px 0;
    }

    h3 {
      text-align: center;
      font-weight: 300;
    }

    h4 {
      font-size: 20px;
      text-transform: uppercase;
      span {
        text-transform: none;
      }
    }

    .sectionHeading {
      span {
          border-bottom: 2px solid $linkColor;
      }
    }

  a {
    font-family: $headingFont;
    color: $linkColor;
    &:hover {
      color: $linkColor;
    }
  }

  .carousel-control.left, .carousel-control.right{
    background-image: none;
  }
  .carousel-control {
    top: 300px;
  }

  #home {
    background: url("../img/home.png") no-repeat center center;
    background-size: cover;
  }

  #about {
    padding: 50px;
    .aboutDescription {
        border-bottom: 2px solid $borderColor;
        padding-bottom: 30px;
    }

    h2 {
      color: $lightText;
      text-align: center;
    }

    .interests{
      padding: 0 0 30px 0;
      ul {
        text-align: center;
        li {
          display: inline-block;
          margin-right: 10px;
          img {
            display: inline;
          }
          span {
            display: block;
          }
        }
      }

    }  //end of interests

  } //end of about

  #projects {
    #carousel-example-generic {
      margin: 20px auto;
    }
    .carousel-custom {
        margin: 20px auto;
        .carousel-outer {
            position: relative;
            .carousel-inner {
              height: 450px;
              .item {
                .modalImg {
                  img {
                    margin: 15px auto;
                    transition:all 0.3s ease;
                    &:hover {
                      cursor: pointer;
                      //@include box-shadow(0px 4px 29px 8px $borderRGBA);
                      //@include fadeIn(box-shadow .4s);
                      @include grow(1.05);
                    }
                  }
                }
                .skills {
                  padding: 2px 15px;
                  border-radius: .25em;
                  white-space: nowrap;
                  margin-bottom: 20px;
                }
                .html {
                  background-color: #aaffee;
                }
                .css {
                  background-color: #eed7f4;
                }
                .jquery {
                  background-color: #f4d7e3;
                }
                .js {
                  background-color: #ffe6d5;
                }
                .photoshop {
                  background-color: #c0e7ec;
                }
                .illustrator {
                  background-color: #fce9e3;
                }
                .bootStrap {
                  background-color: #ddc4ec;
                }
                .wordpress {
                  background-color: #ccf8e6;
                }
              }
              .carousel-control {
                top: 40%;
                width: 5%;
              }
            }
        }
        .carousel-indicators {
            margin: 10px 0 0;
            overflow: auto;
            position: static;
            text-align: center;
            white-space: nowrap;
            width: 100%;
            li {
                background-color: transparent;
                -webkit-border-radius: 0;
                border-radius: 0;
                display: inline-block;
                height: auto;
                margin: 0 !important;
                width: auto;
                img {
                    display: block;
                    opacity: 0.5;
                }
                .active img {
                    opacity: 1;
                }
                &:hover img {
                    opacity: 0.75;
                }
            }
        }
     }
  }

  #experience {
    background-color: $darkBackground;
    color: $lightText;
    position: relative;

    h2 {
      color: $lightText;
    }

    .timeline {
      position: relative;
      overflow: auto;
      overflow-y: hidden;
      padding-top: 20px;
     &:before {
       content: '';
       position: absolute;
       height: 100%;
       width: 8px;
       background: $timelineColor;
       left: 50%;
     }
        h2 {
          font-size: 20px;
          padding: 0;
        }
       .entryLeft {
         float: left;
         p, h2 {
           text-align: right;
         }
         &:before {
             right:-108px;
         }
       }
       .entryRight {
         float: right;
         p, h2 {
           text-align: left;
         }
         &:before {
             left:-102px;
         }
       }
      .entry {
        width:calc(50% - 80px);
        padding:0 20px 40px 20px;
        position: relative;
        clear:both;
        z-index: 1;
          .entryTime {
            font-size: 13px;
          }
          &:before {
            background-image: url('../img/jobIcon.png');
            background-size: 50px 50px;
            display: inline-block;
            width: 50px;
            height: 50px;
            content:"";
            position: absolute;
            z-index:1000;
            @include fadeIn(box-shadow .4s);
          }
          &:hover:before {

          }
      }

      .grad {
        &:before {
            background-image: url('../img/gradIcon.png');
        }
      }

      .diamond {
        width: 0;
      	height: 0;
      	border: 15px solid transparent;
      	border-bottom: 20px solid $timelineColor;
      	position: relative;
      	top: -30px;
        left: 49.10%;
        &:before {
          background-image: none;
        }
        &:after {
        	content: '';
        	position: absolute;
        	left: -15px;
          top: 20px;
        	width: 0;
        	height: 0;
        	border: 15px solid transparent;
        	border-top: 20px solid $timelineColor;
        }
      }

      .entry1 {
          margin-top: 30px;
      }
    } //end of timeline

    .experienceBkrd {
      right: 0;
      bottom: 0;
      position: absolute;
    }

  }//end of experience

  #contact {
    .socialMedia {
      padding: 0 0 30px 0;
      li {
        display: inline;
        margin-right: 10px;
        img {
          transition:all 0.3s ease;
          &:hover {
            @include grow(1.10);
          }
        }
      }
    }
    footer {
      padding: 20px;
    }
  }//end of contact

  .modal {
    .modal-dialog {
        width: 80%;
        .modal-header {
          border-bottom: transparent;
          .close {
            font-size: 50px;
            line-height: .5;
          }
        }
        .modal-body {
          padding: 0 0 50px 0;
          h4 {
            padding-bottom: 15px;
          }
          img {
            margin: 0 auto;
            border: 1px solid #eeeeee;
          }
        }
    }
  }


}
